/* formatting for main elements */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html,
body {
    height: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

a:visited {
    color: #000;
    text-decoration: none;

}

input {
    border: none;
    outline: none;
    width: 90%;
}

input:focus {
    border: none;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}


/* row and column css */
.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0px;
}

.col {
    display: table-cell;
    background-color: #FFF;
    border-style: solid;
    border-width: 0.5px;
    height: 100%;
    width: 100%;

}

.listrow {
    display: table;
    width: 100%;
    width: 300px;
    table-layout: fixed;
    border-spacing: 0px;
}

.listcol {
    display: table-cell;
    padding: 25px;
}

.listcoltime {
    display: table-cell;
    padding: 25px;
    width: 70px;
    border-right: none;
    border-width: 0.5px;
}

.blockborder {
    border-style: solid;
    border-width: 0.5px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}


/* row and column modifiers */
#tl {
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-left: none;
}

#tr {
    border-bottom: none;
    border-top: none;
    border-right: none;
}

#bl {
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#br {
    border-bottom: none;
    border-right: none;
}

#mid {

    border-right: none;
    border-left: none;
    border-bottom: none;
    padding: 10px;
}

#item-first {
    border-style: solid;
    border-width: 0.5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding: 15px;
}

#item {
    border-style: solid;
    border-width: 0.5px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding: 15px;
}

#item:hover {
    text-decoration: line-through;
    cursor: pointer;
}

#period {
    border-style: solid;
    border-width: 0.5px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding: 25px;
}

#period:hover {
    cursor: pointer;
}

#block {
    border-style: solid;
    border-width: 0.5px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding: 0px;
}

#blocktime {
    margin: 30px;
}

#edit {
    border-style: solid;
    border-width: 0.5px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    text-align: left;
    padding: 15px;
    padding-left: 30px;

}

#edit:hover {
    cursor: pointer;
    text-decoration: underline;
}

#date {
    border-style: solid;
    border-width: 0.5px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    text-align: left;
    padding: 10px;
    padding-left: 16px;

}

#arrow {
    padding-left: 4px;
    padding-right: 4px;
}

#heightone {
    height: 3%
}

#heighttwo {
    height: 97%
}

#line {
    border-style: solid;
    border-width: 0.5px;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.center {
    text-align: center;
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
    padding-bottom: 17%;
}

.centerin {
    display: table-cell;
    vertical-align: middle;
}

.centerin2 {
    padding-top: 25%;
}

#openapp {
    border-bottom: none;
    border-top: none;
    border-right: none;

    text-align: center;

}


/* elements */
.logo {
    padding: 8px;
    padding-left: 13px;
}
#iconburger {
    padding: 12px;
    padding-right: 20px;
    float: right;
}


.burgercontainer {
    float: right;
    padding: 10px;
}

.burgericon {
    width: 20px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
}

#note-input {
    border: none;
}

/* edit menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 41px;
    right: -3px;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-style: solid;
    border-width: 0.5px;
}

.sidemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 41px;
    right: -3px;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.35s;
    padding-top: 60px;
    border-style: solid;
    border-width: 0.5px;
}

.sidenav a {
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    font-size: 12px;
    color: #000;
    display: block;
}

.sidenav a:hover {
    text-decoration: underline;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 12px;
    margin-right: 50px;
    margin-top: 25px
}

.sidenav .closebtn1 {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 12px;
    margin-right: 25px;
    margin-top: 25px
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}